*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 26px;
  width: 1140px;
  margin: 333px 0px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  color: #fff;
  background-color: #1B1919;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__label:has(span:hover) {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__pseudo-checkbox:checked::after {
  opacity: 1;
}

.content__details {
  display: grid;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  color: #FFFFFF;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: Bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #FFFFFF;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
}

.content__video-card-title {
  display: block;
  max-width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: Bold;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}